<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style2.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for("static", filename = "favicon.ico")}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    </head>
    <body>
        <!-- Navbar Beginning -->
        <nav class="navbar navbar-expand-lg navbar-light" style = "background-color:#f6f5f7;" >
          <a class="navbar-brand" href="/">Tati Style</a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/product-new/">Add images<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">

                <a class="nav-link" href="/all-images">Images</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all-appointments">All appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin-reviews">All Reviews</a>
              </li>
            </ul>
          </div><br>
          {% if current_user.is_authenticated %}
              <a class="navbar-brand" href="#">Welcome {{ current_user.name }}</a>
              <a class="navbar-brand" href="/sign-out/">Sign out</a>
          {% else %}
              <a class="navbar-brand" href="/sign-in/">Sign in</a>
              <a class="navbar-brand" href="/sign-up/">Sign up</a>
          {% endif %}
        </nav>

        <div class="container">

          {% for category, msg in get_flashed_messages(with_categories=True) %}
          {% if category == "success" %}
              <div class="alert alert-{{category}} mb-3" role="alert">
                  {{ msg }}
              </div>
          {% endif %}
          {% if category == "danger" %}
          <div class="alert alert-danger mb-3" role="alert">
             {{msg}}
           </div>
           {% endif %}
          {% endfor %}

            {% block content %}{% endblock %}

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
