{% extends "base.html" %}
{% block content %}

<h3 style = "text-align: center;margin-bottom: 15px;">Wedding hairstyles</h3>
<div class = "pictures">

<img src = "{{url_for('static', filename = "uploads/" + "2.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride2.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bridal_hairstyle.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride17.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride11.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride6.jpg")}}" style = "width:300px; height:300px;">
<img src = "{{url_for('static', filename = "uploads/" + "bride18.jpg")}}" style = "width:300px; height:300px;">
</div>
{% endblock %}
