<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style1.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for("static", filename = "favicon.ico")}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    </head>
    <body>
      <!-- ## JUMBOTRON -->
      <div class= "search" style="background-color: #350303; height:20px;">
      <form class="form-inline my-2 my-lg-0" action = "{{url_for("main_blueprint.search_product")}}" method = "post">
      <input class="form-control me-2" type="search" placeholder="Search for a new style" aria-label="Search" name = "pr_user" style="margin: 5px; margin-left: auto;"><br>
        <button class="btn btn-light  my-2 my-sm-0"  style = "color:#350303; margin-right: 5px;" type="submit">Search</button>
      </form>
      </div>
      <div class="jumbotron jumbotron-fluid" style = "background-color: #350303;color: #d8f3f9; height:240px;">
     <div class="container" style = "text-align: center;">
         <h1 class="display-4">TATI STYLE.COM</h1>
         <p class="lead">FIND THE BEST HAIRSTYLE YOU'VE ALWAYS WANTED TO TRY</p
         <button type="button" class="btn btn-light  my-2 my-sm-0" style= "margin-top: 10px;"><a href = "/make-appointment" style = "text-decoration: none; color:#d8f3f9;">Book an Appointment</a></button><br>
     </div><br>
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style = "margin-top: 0px;">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item dropdown active">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Categories
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" style = "color:#350303;"href="/wedding-hairstyle">Wedding Hairstyles</a>
               <a class="dropdown-item" style = "color:#350303;" href="/evening-hairstyle">Evening Hairstyles</a>
               <a class="dropdown-item" style = "color:#350303;" href="/coloring">Coloring</a>
               <a class="dropdown-item" style = "color:#350303;" href="/haircut">Haircuts</a>
             </div>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="/all-reviews">Reviews<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="/user-favorite-product">Favorite</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="/my-appointment">My appointment</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="/contact">Contact</a>
           </li>
         </ul>

       </div><br>
       {% if current_user.is_authenticated %}
           <a class="navbar-brand"  href="#">Welcome {{ current_user.name.title() }}</a>
           <a class="navbar-brand" href="/sign-out/">Sign out</a>
       {% else %}
           <a class="navbar-brand" href="/sign-in/">Sign in</a>
           <a class="navbar-brand" href="/sign-up/">Sign up</a>
       {% endif %}
     </nav>
    </div><br>

        <div class="container">

            {% for category, msg in get_flashed_messages(with_categories = True) %}
            {% if category == "success" %}
                <div class="alert alert-success mb-3" role="alert">
                    {{ msg }}
                </div>
              {% endif %}
            {% if category == "danger" %}
            <div class="alert alert-danger mb-3" role="alert">
               {{msg}}
             </div>
             {% endif %}
            {% endfor %}


  <div class="card-group" style="margin: 20px;">
      <div class="card" style="padding: 20px;">
            <a href="/evening-hairstyle" style="text-decoration: none; color:#350303;">
            <img src="{{url_for('static', filename = "uploads/" + "evening_6_1.jpg")}}" class="card-img-top" alt="evening hairstyle">
      <div class="card-body">
            <h4 class="card-title">Evening Hairstyles</h4>
            <p class="card-text">Make your event special</p>
      </div>
            </a>
      </div>
  <div class="card" style="padding: 20px;">
        <a href="/wedding-hairstyle" style="text-decoration: none; color:#350303;">
        <img src="{{url_for('static', filename = "uploads/" + "bride_1_1.jpg")}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Wedding Hairstyles</h4>
            <p class="card-text">Be irresistible at your wedding</p>
        </div>
        </a>
  </div>
  <div class="card" style="padding: 20px;">
      <a href="/coloring" style="text-decoration: none; color:#350303;">
      <img src="{{url_for('static', filename = "uploads/" + "coloring_1_2.jpg")}}" class="card-img-top" alt="coloring6">
      <div class="card-body">
          <h4 class="card-title">Coloring</h4>
          <p class="card-text">Highlight your style</p>
      </div>
      </a>
  </div>
    <div class="card" style="padding: 20px;">
          <a href="/haircut" style="text-decoration: none; color:#350303;">
          <img src="{{url_for('static', filename = "uploads/" + "best_Haircuts_Bob_1_2.jpg")}}" class="card-img-top" alt="coloring6">
          <div class="card-body">
              <h4 class="card-title">Haircut</h4>
              <p class="card-text">Change your style</p>
          </div>
          </a>
    </div>
    <div class="card" style="padding: 20px;">
          <a href="/hair-straightening" style="text-decoration: none; color:#350303;">
          <img src="{{url_for('static', filename = "uploads/" + "hair_straightening_3.png")}}" class="card-img-top" alt="hair_straightening">
          <div class="card-body">
              <h4 class="card-title">Permanent Hair Straightening</h4>
              <p class="card-text">The effect of perfectly straight hair will last for a long time</p>
          </div>
          </a>
    </div>
</div>
</div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
