{% extends "admin.html" %}
{% block content %}
<h2 style = "text-align: center;">Wedding hairstyles</h2>
<div class = "pictures"
style = "display: block;">
{% for image in images %}
  <h3>
    {{image.description}}
    {{image.name}}
  </h3>
  <img src="{{url_for('static', filename = "uploads/" + image.pic_path)}}" class="card-img" alt="..." style = "width:300px; height:300px; margin-bottom: 15px;">
  <button type="button" name="button" class="btn btn-secondary"><a href="/delete-images/{{image.id}}" style = "text-decoration: none; color:#d8f3f9;">Delete</a></button>
{% endfor%}
<hr>
</div>
{% endblock %}
